.tool-item-wrapper {
    margin: 8px auto;
}

.page-button-wrapper {
    position: fixed;
    bottom: 16px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
