.main-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-card {
  padding: 24px 40px;
  max-width: 400px;
  margin: 0 16px;
  text-align: center;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
}

.main-card button {
  margin-top: 20px;
}

.to-register {
  margin-top: 16px;
}

.form-button {
  margin-top: 20px;
}

.form-control-label {
  text-align: left;
}
