.courses-wrapper {
    /*max-width: 100%;*/
    /*overflow: scroll;*/
  /*margin-bottom: 20px;*/
}

.my-courses {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.my-course-title{
  margin-right: 100px;
}

.spacer {
  display: inline-block;
  width: 20px;
}

.search-button-box {
  margin-top: -10px;
  margin-bottom: 10px;
  width: 200px;
}

@media (max-width: 400px) {
  .search-button-box {
    width: 100%;
  }
}

.courses-flex-box {
  display: flex;
  flex-wrap: wrap;
  margin: -10px -10px 0 -10px;
}
