.tool-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 56px;
  box-sizing: border-box;
  padding: 0 50px;
  justify-content: space-between;
  background-color: white;

  z-index: 2;
  color: #555555;

  display: flex;
  align-items: center;

  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
}

.title {
  margin-right: 10px;
  font-size: 22px!important;
  font-weight: bold;
}

.title::after {
  position: absolute;
  left: 50px;
  bottom: 0;
  content: "";
  display: inline-block;
  width: 25px;
  border-bottom: 6px solid #555555;
}

.stub {
  height: 56px;
}

.click-able {
  display: flex;
  align-items: center;
  cursor: pointer;
}


.link {
  color: #282c34;
  text-decoration: none;
}
