.title-bar {
  margin-top: -10px;
  height: 80px;
  position: relative;
}

.title {
  font-weight: bold;
  font-size: 36px;
}

.bottom-line {
  position: absolute;
  width: 6px;
  height: 24px;
  top: 2px;
  left: -16px;
  background: #2196F3;
}
